$banner-bg: url("../content/bg-masthead.jpg");
$button-bg: #007bff;
$button-cl: white;

$background-color-1: #f8f9fa;
$background-color-2: white;

$text-cl: grey;
$text-cl-2: #007bff;
$text-cl-3: white;

$avatar-1: url("../content/testimonials-1.jpg");
$avatar-2: url("../content/testimonials-2.jpg");
$avatar-3: url("../content/testimonials-3.jpg");